<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ZipLink</title>
</head>

<body style="font-family: Arial, sans-serif;">

<h2>Welcome to ZipLink 🎉</h2>

<p>
    Hi <strong th:text="${name}"></strong>,
</p>

<p>
    Your account has been created successfully.
</p>

<p>
    You can now:
</p>

<ul>
    <li>Create Short URLs</li>
    <li>Manage your Dashboard</li>
    <li>Track Click Analytics</li>
    <li>Monitor URL Performance</li>
</ul>

<p>
    Happy Shortening!
</p>

<p>
    <strong>Team ZipLink</strong>
</p>

</body>
</html>